<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Age Calculator</title>
    <link rel="stylesheet" href="../css/age.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="brand title">
                Health Assistant 
                <span class="plus-icon">+</span>
            </a>
            <div class="nav-links">
                <a href="../component/bmiCalculate.html">BMI</a>
                <a href="ageCalculate.html">Age Calculator</a>
                <a href="../component/gestational.html">Gestational Age</a>
                <a href="../index.html">Home</a>
            </div>
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </nav>
    <header class="hero">
        <h1>Age Calculator</h1>
        <p>Calculate your Age easily with our tools</p>
    </header>
    <section id="age">
        <form id="age-form">
            <label for="birthdate">Enter your birthdate:</label>
            <input type="date" id="birthdate" name="birthdate" required>
            <button type="submit">Calculate Age</button>
        </form>
        <p id="age-result"></p>
    </section>
   
    <script src="../js/age.js"></script>
    <script src="../js/index.js"></script>
</body>
</html>
